@font-face {
     font-family: "Gothic-regular";
     src: url("GOTHIC.TTF") format("truetype");
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: "Gothic-bold";
     src: url("GOTHICB.TTF") format("truetype");
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: "Gothic-bold-italic";
     src: url("GOTHICBI.TTF") format("truetype");
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: "Gothic-italic";
     src: url("GOTHICI.TTF") format("truetype");
     font-weight: normal;
     font-style: normal;
}